[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "content/content/example"]
	path = content/content/example
	url = git@github.com:jonathanschilling/test-hugo-book-contents.git
